<script setup>
import { ref } from "vue";

defineProps({
  msg: String,
});

fetch("https://backtest-q5en.onrender.com/")
  .then((response) => response.json())
  .then((result) => {
    console.log(result);
  });
</script>

<template>
  <h1>{{ msg }}</h1>

  <div class="card"></div>

  <p>
    Check out
    <a href="https://vuejs.org/guide/quick-start.html#local" target="_blank"
      >create-vue</a
    >, the official Vue + Vite starter
  </p>
  <p>
    Install
    <a href="https://github.com/vuejs/language-tools" target="_blank">Volar</a>
    in your IDE for a better DX
  </p>
  <p class="read-the-docs">Click on the Vite and Vue logos to learn more</p>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
